.load{
  width: 150px;
  height: 150px;
  border: 3px dotted white;
  border-radius: 100%;
  animation: rotate-load 1s infinite;
}

@keyframes rotate-load{

  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
